<!DOCTYPE html>
<html>
<head>
    <title>보영리조트</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/outline_anchor_black_24dp.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <link rel="stylesheet"  href="./css/lightslider.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./js/lightslider.js"></script>
    <script>
        $(document).ready(function() {
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:8,
                slideMargin: 0,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
        a,h1,h2,h3,h4,h5,h6 {font-family: 'Nanum Gothic',돋움;}
        ul{
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
        }
        .gallery{ width: 800px; }
        #table table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        #table th {
            border: 1px solid #444444;
            text-align: center;
            background-color: darkgray;
            height: 35px;
            width: 250px;
        }
        #table td {
            border: 1px solid #444444;
            text-align: center;
            height: 85px;
            width: 250px;
        }

        .day td,th { width: 187px;}
        .content button {
            height: 60px;
            width: 150px;
            background-color: black;
            color: white;
        }
        button:hover { background-color: gray; }
        .rv table {
            width: 100%;
            border-collapse: collapse;
        }
        .rv td {
            border: 2px solid #444444;
            text-align: center;
            height: 50px;
        }
        .post{
            max-width: 70%;
            padding-top:3%;
            border-bottom: 0;
            position: relative;
            margin: 0 auto;
        }
    </style>
</head>