{{>layouts/header}}

<body id="myPage">
<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="#"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="service"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="customer" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

{{>layouts/mdsign}}

<div class="post">
    <div class="container-fluid bg-3 text-center w3-padding-32">

        <ul class="nav nav-tabs" style="margin-bottom: 20px;">
            <li class="active"><a data-toggle="tab" href="attraction1">실내 슬라이드</a></li>
            <li><a data-toggle="tab" href="attraction2">몬스터 블라스터</a></li>
            <li><a data-toggle="tab" href="attraction3">자이언트워트플렉스</a></li>
        </ul>
        <div class="w3-left" style="font-size: 40px;margin-left: 15%;"><b>실내슬라이드</b></div><br><br><br>
        <div class="w3-left" style="font-size: 15px;margin-left: 15%; ">워터 슬라이드는 마치 미끄러운 바위 계곡의 좁은 급류를 몸으로 타는 것 같은 재미를 선사합니다.</div><br>
        <div class="w3-left" style="font-size: 15px;margin-left: 15%; ">이음새가 거의 느껴지지 않도록 매끄럽게 제작된 특수 재질의 슬라이드 위에 차가운 물이 흘러 속도감을 느끼기에 충분합니다.</div><br><br><br>
        <div class="w3-content we-center content">
            <div id="table">
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>시설소개</th><td>길이 약 120m</td>
                    </tr>
                    <tr>
                        <th>운영기간</th><td>상시운영</td>
                    </tr>
                    <tr>
                        <th>위치</th><td>실내존</td>
                    </tr>
                    <tr>
                        <th>이용안내</th><td>튜브 슬라이드 1기 바디슬라이드 1기로 구성되어 있습니다.<br>슬라이드 이용 시 2인 동반 탑승은 불가합니다.
                        <br>빠른 스피드로 인해 안경 선글라스 창모자(야구모자,썬캡)악세서리 및 사진 촬영을 금지합니다.<br>겉옷 및 레쉬가드 착용으로 인한 파손은 당사에서 책임지지 않습니다.</td>
                    </tr>
                    <tr>
                        <th>문의처</th><td>1588-xxxx</td>
                    </tr>
                    </tbody>
                </table><br>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <div class="gallery w3-padding-32" style="display: inline-block; max-width:850px;">

                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="image/thumb/attraction1-1.jpg">
                            <img src="image/attraction1-1.jpg" />
                        </li>
                        <li data-thumb="image/thumb/attraction1-2.jpg">
                            <img src="image/attraction1-2.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layouts/footer}}