{{>layouts/header}}

<body id="myPage">

<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="#"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="service"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="customer" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

{{>layouts/mdsign}}


<div class="post">
    <div class="container-fluid bg-3 text-center w3-padding-32">

        <ul class="nav nav-tabs" style="margin-bottom: 20px;">
            <li><a data-toggle="tab" href="attraction1">실내 슬라이드</a></li>
            <li class="active"> <a data-toggle="tab" href="attraction2">몬스터 블라스터</a></li>
            <li><a data-toggle="tab" href="attraction3">자이언트워트플렉스</a></li>
        </ul>
        <div class="w3-left" style="font-size: 40px;margin-left: 15%;"><b>몬스터 블라스터</b></div><br><br><br>
        <div class="w3-left" style="font-size: 15px;margin-left: 15%; ">세계최초 / 세계최장 300m의 2인승 튜브 슬라이드</div><br><br><br>
        <div class="w3-content we-center content">
            <div id="table">
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>시설소개</th><td>길이 300m / 높이 18.2m / 폭 1.5~2.0m / 착지풀 수심 1.05m / 2인승</td>
                    </tr>
                    <tr>
                        <th>운영기간</th><td>야외존 운영시간 내</td>
                    </tr>
                    <tr>
                        <th>위치</th><td>실외존</td>
                    </tr>
                    <tr>
                        <th>이용안내</th><td>신장 120cm 미만,체중 40kg이하,90kg이상의 분들은 이용을 제한하고 있습니다.<br>음주자 혹은 약물을 복용한 사람은 워터파크 입장이 금지됩니다.
                        <br>빠른 스피드로 인해 안경 선글라스 창모자(야구모자,썬캡)악세서리 및 사진 촬영을 금지합니다.<br>이용 종료 시까지 탑승자세를 준수하여 주시기 바랍니다.</td>
                    </tr>
                    <tr>
                        <th>문의처</th><td>1588-xxxx</td>
                    </tr>
                    </tbody>
                </table><br>
            </div>

        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <div class="gallery w3-padding-64" style="display: inline-block;max-width:850px;">

                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="image/thumb/attraction2-1.jpg">
                            <img src="image/attraction2-1.jpg" />
                        </li>
                        <li data-thumb="image/thumb/attraction2-2.jpg">
                            <img src="image/attraction2-2.jpg" />
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

{{>layouts/footer}}