<!DOCTYPE html>
<html>
<head>
    <title>정식리조트</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/outline_anchor_black_24dp.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-3.3.2-dist/css/jumbotron.css" rel="stylesheet">
</head>
<style>
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      a,h1,h2,h3,h4,h5,h6 {font-family: 'Nanum Gothic',돋움;}
    *{box-sizing: border-box}

    .divider {
        margin: 0.5em 0 0.5em 0;
        border: 0;
        height: 1px;
        width: 100%;
        display: block;
        background-color: #4f6fad;
        background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
    }
    input[type=text], textarea {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    .one input[type=submit] {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: darkgray;
    }
    .container {
        border-radius: 5px;
        background-color: white;
        padding: 20px;
    }

    button:hover { background-color: gray; }
    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
    }
    th {
        border: 1px solid #444444;
        text-align: center;
        height: 35px;
    }
    td {
        border: 1px solid #444444;
        text-align: center;
    }

</style>

<body id="myPage">
<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="attraction1"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="service"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="#" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

{{>layouts/mdsign}}

<h1 style="margin-left: 22%;"><b>공지사항</b></h1>
<h4 style="margin-left: 22%;">항상 즐거움이 있는 곳! 대진리조트!</h4>
<div class="container-fluid bg-3 text-center w3-padding-16">
    <div class="container">
        <table class="table table-striped">
            <colgroup>
                <col width="15%">
                <col width="50%">
                <col width="20%">
                <col width="15%">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
        </table>
        <h1 style="margin-top: 100px;">준비중입니다</h1>

    </div>
    </tbody>
    </table>
</div><br><br><br><br><br><br><br><br><br><br>
<form class="one" onclick="javascript:alert('서비스 준비중입니다.')">
    <input type="submit" value="글쓰기" style="float: right" >
</form>
</div>


{{>layouts/footer}}