
{{>layouts/header}}

<body id="myPage">
<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="attraction1"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="service"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="customer" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

{{>layouts/mdsign}}


<div class="w3-padding-32 w3-content w3-text-grey" id="contact">
    <h1 style="color: skyblue;"> <i class="material-icons w3-margin-right" style="font-size: 40px;">directions_bus</i><b>대진리조트 오시는 길</b></h1><br><br><br>
    <div class="w3-section">
        <h2 style="color: black;"><b>주소</b></h2>
        <h3 style="color: black;">경기 포천시 호국로 1007</h3><br><hr>
        <h2 style="color: black;"><b>버스</b></h2>
        <h3 style="color: black;">3100번,3500번 버스 이용</h3><br><hr>
        <h2 style="color: black;"><b>자가용</b></h2>
        <h3 style="color: black;">아래 길찾기 버튼을 이용해 주세요</h3><br>
    </div>
</div>
<div class="w3-container w3-padding-64 w3-center" id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2806.0929976335715!2d127.15966828689692!3d37.8665403515463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ef9ded5a17148d3!2z64yA7KeE64yA7ZWZ6rWQIOuMgOyatOuPmeyepQ!5e0!3m2!1sko!2sjp!4v1624046926175!5m2!1sko!2sjp"  width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div>

</div>

{{>layouts/footer}}