<!DOCTYPE html>
<html>
<head>
    <title>대진리조트</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/outline_anchor_black_24dp.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
     a,h1,h2,h3,h4,h5,h6 {font-family: 'Nanum Gothic',돋움;}
       .nav-tabs li a { color: #777; }
       .post{
           max-width: 70%;
           padding-top:3%;
           border-bottom: 0;
           position: relative;
           margin: 0 auto;
       }
    </style>
</head>
<body id="myPage">

<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="attraction1"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="#"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="customer" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

<div class="w3-bar">
    <div class style="padding-right: 3%;">
        <a href="load"class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal">오시는 길</a>
        <button onclick="document.getElementById('id02').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal">회원가입</button>
        <div id="id02" class="w3-modal" style="color: black">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px; min-height: 400px;">
                <div class="w3-center"><br>
                    <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
                </div>
                <form class="w3-container" method="post">
                    <label style="color: black"><b>이름</b></label>
                    <input class="w3-input w3-margin-bottom w3-border" type="text" placeholder="Enter Name" name="name" required>
                    <label style="color: black"><b>이메일</b></label>
                    <input class="w3-input w3-margin-bottom w3-border"  type="text" placeholder="Enter Email" name="email" required>
                    <label style="color: black"><b>비밀번호</b></label>
                    <input class="w3-input w3-margin-bottom w3-border" type="password" placeholder="Enter Password" name="pwd" required>
                    <label style="color: black"><b>전화번호</b></label>
                    <input class="w3-input w3-margin-bottom w3-border"  type="number" placeholder="Enter Tel" name="tel" required>
                    <button class="w3-button w3-blue" onclick="javascript:alert('서비스 준비중입니다.')">회원가입</button>
                </form>
            </div>
        </div>
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal">로그인</button>
        <div id="id01" class="w3-modal" style="color: black">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px; min-height: 250px;">
                <div class="w3-center"><br>
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright">&times;</span>
                </div>
                <form class="w3-container" method="post">
                    <label style="color: black"><b>이메일</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Email" name="email" required>
                    <label style="color: black"><b>비밀번호</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Enter Password" name="pwd" required>
                    <button class="w3-button w3-blue" onclick="javascript:alert('서비스 준비중입니다.')">로그인</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="post">
    <div class="container-fluid w3-padding-32">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#free">무료 서비스</a></li>
            <li><a data-toggle="tab" href="#notfree">유료 서비스</a></li>
        </ul>
        <div class="w3-container tab-content">
            <div id="free" class="tab-pane fade in active">
                <div class="w3-container w3-padding-64">
                    <div class="w3-row"><br>
                        <div class="w3-third">
                            <img src="images/dispensary.jpg"  style="width:70%" class="w3-Bordered">
                            <h3><b>의무실</b></h3>
                            <h4><br>고객님의 안전을 위해 의무실이 준비되어 있습니다.</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/feeding.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>수유실</b></h3>
                            <h4><br>영아를 위한 수유실</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/bank.jpg"  style="width:70%" class="w3-Bordered">
                            <h3><b>은행</b></h3>
                            <h4><br>ATM 보유</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notfree" class="tab-pane fade">
                <div class="w3-container w3-padding-64">
                    <div class="w3-row"><br>
                        <div class="w3-third">
                            <img src="images/drugstore.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>약국</b></h3>
                            <h4><br>각종 의약품 보유</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/hair.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>미용실</b></h3>
                            <h4><br>고객의 스타일을 만족시켜 줌으로써<br> 고객의 감동 서비스를 실현시켜 <br>드리고자 노력하고 있습니다.</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/cinema.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>CINEMA-V</b></h3>
                            <h4><br>최첨단 영상시설과 음향시설을 갖추고 있어<br> 영화상영,연극, 시사회,단체 강의장, 이벤트 공연 <br>등 눈과 귀를 즐겁게 해드릴 비발디파크만의 <br>복합문화예술 공간 입니다.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layouts/footer}}