{{>layouts/header}}

<body id="myPage">

<div class="w3-bar w3-white"style="width: 100%;z-index: 2;font-size: 24px;height: 30px;overflow: hidden;"></div>
<div class="w3-bar" style="width: 100%;z-index: 2;font-size: 24px;overflow: hidden;background-color: #afdffb;">
    <div class style="padding-left: 15%;"><a href="index" class="w3-button w3-hover-orange"><i class="fa fa-anchor w3-margin-right"></i><b>메인</b></a>
        <a href="attraction1"class="w3-button w3-hover-orange"><b>어트랙션</b></a>
        <a href="room1" class="w3-button  w3-hover-orange "><b>객실</b></a>
        <a href="#"class="w3-button w3-hover-orange"><b>서비스</b></a>
        <a href="customer" class="w3-button w3-hover-orange"><b>Q/A</b></a>
    </div>
</div>

{{>layouts/mdsign}}

<div class="post">
    <div class="container-fluid w3-padding-32">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#free">무료 서비스</a></li>
            <li><a data-toggle="tab" href="#notfree">유료 서비스</a></li>
        </ul>
        <div class="w3-container tab-content">
            <div id="free" class="tab-pane fade in active">
                <div class="w3-container w3-padding-64">
                    <div class="w3-row"><br>
                        <div class="w3-third">
                            <img src="images/dispensary.jpg"  style="width:70%" class="w3-Bordered">
                            <h3><b>의무실</b></h3>
                            <h4><br>고객님의 안전을 위해 의무실이 준비되어 있습니다.</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/feeding.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>수유실</b></h3>
                            <h4><br>영아를 위한 수유실</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/bank.jpg"  style="width:70%" class="w3-Bordered">
                            <h3><b>은행</b></h3>
                            <h4><br>ATM 보유</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notfree" class="tab-pane fade">
                <div class="w3-container w3-padding-64">
                    <div class="w3-row"><br>
                        <div class="w3-third">
                            <img src="images/drugstore.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>약국</b></h3>
                            <h4><br>각종 의약품 보유</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/hair.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>미용실</b></h3>
                            <h4><br>고객의 스타일을 만족시켜 줌으로써<br> 고객의 감동 서비스를 실현시켜 <br>드리고자 노력하고 있습니다.</h4>
                        </div>
                        <div class="w3-third">
                            <img src="images/cinema.png"  style="width:70%" class="w3-Bordered">
                            <h3><b>CINEMA-V</b></h3>
                            <h4><br>최첨단 영상시설과 음향시설을 갖추고 있어<br> 영화상영,연극, 시사회,단체 강의장, 이벤트 공연 <br>등 눈과 귀를 즐겁게 해드릴 비발디파크만의 <br>복합문화예술 공간 입니다.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layouts/footer}}